@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

.demo-container {
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.demo-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.demo-controls {
    width: 250px;
    padding: 20px;
    gap: 10px;
}

.demo-control {
    margin: 10px;
}

@media only screen and (max-width: 750px) {
    .demo-container {
        flex-direction: column;
    }

    .demo-controls {
        width: 100%;
    }
}

#wrapper {
    padding: 10px;
    margin-left: 320px;
    margin-right: 320px;
}

@media only screen and (max-width: 1500px) {
    #toc-navbar {
        display: none;
    }

    #wrapper {
        margin-right: 0;
    }
}


@media only screen and (max-width: 1200px) {
    #components-navbar {
        display: none;
    }

    #wrapper {
        margin-left: 0;
    }
}

#components-navbar, #toc-navbar {
    padding-top: 15px;
}

input:invalid {
    outline: none !important;
}
